<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if @article.id && current_user.admin? %>
  <%= form_tag(:action => "merge", :id => @article.id) do %>
    <h4><%= _("Merge Articles") %></h4>
    <%= label_tag "merge_with", "Article ID" %>
    <%= text_field_tag "merge_with" %>
    <%= submit_tag 'Merge With Article' %>
  <% end %>
<% end %>
